@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/YA9dr0Wd4kDdMthROCI.ttf) format('truetype');
}
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/YA9Qr0Wd4kDdMtDqHTLMkiE.ttf) format('truetype');
}
